{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
  <h3 class="mb-3">Marcação de refeições</h3>
  <form action="{{ url_for('routes.mark') }}" method="get" class="row g-3">
  <div class="col-auto">
    <input class="form-control" type="number" min="1" max="201" name="user_id" placeholder="Nº utilizador" required>
  </div>
  <div class="col-auto">
    <input class="form-control" type="password" name="pin" placeholder="PIN (4 dígitos)" required maxlength="4" pattern="\d{4}">
  </div>
  <div class="col-auto">
    <button class="btn btn-primary">Entrar</button>
  </div>
</form>
  {% if error %}<div class="text-danger mt-3">{{ error }}</div>{% endif %}
</div>
{% endblock %}
